/************* 
Picture Details styles
*******************/
.photoDetails li {
  font-size: 2.5rem;
  margin: 1rem;
  border: 0.01rem solid;
  list-style: none;
}
.photoDetails h2 {
  font-size: 2.5rem;
  text-align: center;
}
.photoDetails img {
  width: 100%;
  height: auto;
}
