.inputSelect {
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.inputSelect label {
  font-size: 2rem;
  color: #6e6e6e;
}

.inputSelect select {
  width: 100%;
  font-size: 2rem;
  color: #6e6e6e;
}
